@font-face {
	font-family: "Rubik-Bold";
	src: url(../fonts/rubik/Rubik-Bold.ttf);
}

@font-face {
	font-family: "Rubik-Regular" ;
	src: url(../fonts/rubik/Rubik-Regular.ttf);
}

@font-face {
	font-family: "Rubik-Light" ;
	src: url(../fonts/rubik/Rubik-Light.ttf);
}

body  {
    height: 100%;
    background-color: ;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("../blog/images/kakum.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Rubik-Light" !important;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}

.start-up {
	padding: 0;
	border: 0;
	margin: 0;	
    background: hsla(120, 100%, 50%, 0.3);
}

.top-info {
	border: none;
	padding: .5% .5%;
	margin-bottom: .5%;
}

.top-info p{
	display: inline;
	color: white;
	font-size: 115%;
	font-family: "Rubik-Regular", helvetica ;
}

.top-info i{
	float: right;
}
.ion-social-facebook ,.ion-social-twitter, .ion-social-youtube {
	color: white;
	font-size: 150%;
	padding-top: .2%;
	padding-right: 1.9%;
}
.top-info {
	background-color: ;
}
.top-info-p1 {
	background-color: ;
	padding-top: .5%;
}
.top-info-p2 {
	background-color: ;
	padding-top: .5%;
	text-align: center;
}
.navbar-default {
	background-color: transparent;
	border-radius: 0;
	width: 100%;
	border: none;
	
}
.navbar-default a:link {
	font-family: "Rubik-Light", helvetica !important;
	font-size: 120%;	
	color: white !important;
}
.navbar-default a:hover {
	text-decoration: none;
}
.big-banner {
	background-image: url(../images/baner.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding:0;
	border:0;
	margin:0;
	height:40%;
	width:100%;
}

.navigation-bar {
	background:rgba(0,0,25,5);
	border-radius: 0px;
	padding-top:1.7%;
	padding-bottom: 1.7%;
	border:0;
	margin:0;
	width:100% ;
	opacity: .7;
	z-index:6;
}

.navbar-right {
	font-size:1em;
	color:red !important;
	opacity:1;
}
.big-writing {
	background-color:  ;
	font-family: "Rubik-Light", helvetica !important;
	color: gray;
	margin-top: 3%;
}
.big-writing h1{
	background-color: white;
	display: inline;
	margin-top: 5%;
	padding: .5% 1% .5% 1%;
}
/* ITS OWN */
.top-top {
	margin-top: 5% !important;
	padding: 0;
	background: white;
}
.testimonial {
	padding-bottom: 3%;
	padding-top: 3%;
	background: #f1f1f1;
}
.coat {
	text-align: center;
	font-size: 300%;
	font-family: "Rubik-Regular", helvetica !important;
}

.testimonial img{
	position: relative;
	top: -30px;
	color: green;
	margin: 0 auto;
}
.inside-testimonial h1{
	border-bottom: 1px solid gray;
	padding-bottom: 3%;
	text-align: center;
	font-family: "Rubik-Regular", helvetica !important;
}
.inside-testimonial p{
	text-align: center;
	font-family: "Rubik-Light", helvetica !important;
	font-size: 120%;	
}
.affiliates {
	padding: 2% 2%;
	background: white;
}
.affiliates img {
	margin: 0 auto;
	display: block;
}
.brand-1 {
	padding-top: 4%;
	background: ;
}
.brand-2{
	background: ;
}
.brand-3{
	background: ;
}
.footer {
	background-color: #408211;
}
.inside-footer {
	margin-top: 3%;
	margin-bottom: 3%;
}
.inside-footer h1{
	font-family: "Rubik-Regular", helvetica !important;
	color: #ccffcc;
	font-size: 300%;
	margin-bottom: 10%;
}
.inside-footer i{
	font-family: "Rubik-Regular", helvetica !important;
	color: #ccffcc;
	font-size: 120%;
	letter-spacing: .1em;
	line-height: 1.5em;
}
.ion-ios-telephone , .ion-email, .ion-android-mail ,.ion-ios-location {
	font-size: 120%;
	font-style: normal;
}
iframe {
	position: relative;
	top: -15px;
	height: 100%;
	width: 100%;
}

.beneath-footer {
	color: white;
	font-size: 120%;
	font-family: "Rubik-Regular", helvetica !important;
	text-align: center;
	background: #33680d;
	margin-top: ;
}
.inside-beneath-footer {
	padding-top: 1%;
}
.link-white {
	color: white !important;
}
.reservation {
	color: black !important;
	background-color: yellow;
	padding: 0%;
}
.reservation:hover {
	background-color: yellow !important	;
}
.testi {
	color: green;
}
.down-link {
	font-family: "Rubik-Regular", helvetica !important;
	color: #ccffcc !important;
	font-size: 120%;
	letter-spacing: .1em;
	line-height: 1.5em;
}

.down-link:hover {
	text-decoration: none;
}


/* ------------ ARTICLE -------------- */

.article-link-1 a{
	background: #408211;
	padding: 2%;
	font-size: 120%;
	color: white;
	transition: all 1s;
	text-decoration: none;
}
	
.article-link-1 a:hover {
	background: rgb(51, 104, 13);

}

.article-link-2 a{
	background: #408211;
	padding: 2%;
	font-size: 120%;
	color: white;
	transition: all 1s;
	text-decoration: none;
}
	
.article-link-2 a:hover {
	background : rgb(51, 104, 13);

}

.thumbnail {
	border : none;
}

@media only screen and (max-width:600px) {
.book {
	float: right;
	margin-top: 18%;
}
.welcome {
	float: left;
}
.welcome-beneath {
	padding-top: 8%;
}

.top-info p{
	display: inline;
	color: white;
	font-size: 115%;
	font-family: "Rubik-Regular", helvetica ;
	float: left;
}

.top-info i{
	float: left;
}






































































